.category-page-title {
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}

.category-products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
